body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Start */
/* Header End */

/* Header Image Container Start */
/* Header Image Container End */

/* Search Container Start */
/* Search Container End */

/* List Container Start */
/* List Container End */
